body {
  margin: 0;
  cursor: default;
}

nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: white;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.logo {
  max-width: 100%;
  vertical-align: middle;
  margin-left: 2%;
}

.cat-nav {
  margin-left: 1.6%;
  margin-right: 1.6%;
}

.search-bar {
  border: 1px solid black;
  border-radius: 9999px;
  margin-left: 0%;
  margin-right: 0%;
  width: 50rem;
  height: 3.7em;
}

.search-form {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2% 0 2%;
  flex-direction: row;
}

.search-input {
  padding: 0 0 0 2%;
  border: none;
  height: 2rem;
  width: 100%;
  border-radius: 0;
}
.search-input:focus {
  outline: none;
}

.search-button {
  border-radius: 9999px;
  height: 2rem;
  border: none;
  margin: 0%;
  width: 10rem;
}

.nav-options {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 32rem;
  padding-left: 0%;
  padding-right: 1.2%;
}

.nav-option {
  margin: 1.5%;
}

.txt-option-one {
  margin-left: 0%;
  margin-right: 5%;
  width: 30rem;
  padding-left: 4%;
}
.txt-option-two {
  margin-left: 0%;
  margin-right: 0%;
  width: 30rem;
  padding-right: 0%;
}

.cart-icon {
  padding: 0;
  margin-left: 0%;
  margin-right: 0%;
}

.login-button {
  height: 2.5rem;
  width: 5rem;
  padding: 0;
  margin-right: 0%;
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.signup-button {
  height: 2.5rem;
  width: 5rem;
  margin-left: 0%;
  padding-right: 0;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.lang-icon {
  margin-top: 15%;
  margin-right: 0%;
  border-style: solid;
  border-width: 1px;
  padding: 22%;
  margin-left: 0%;
  margin-right: 0%;
}

.small-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background-color: white;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  display: none;
}

.drop-menu {
  vertical-align: middle;
  margin-left: 2%;
}

.icons-small {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2%;
  width: 13%;
}

.search-bar:hover {
  border-color: rgb(0, 150, 150);
}
.search-button:hover {
  background-color: rgb(0, 210, 210);
}

.cat-nav:hover {
  color: rgb(0, 150, 150);
}

.nav-option:hover {
  color: rgb(0, 150, 150);
}

.login-button:hover {
  background-color: #eee;
  border-color: rgb(0, 150, 150);
}

.signup-button:hover {
  background-color: rgb(53, 48, 48);
  border-color: rgb(0, 150, 150);
}

.lang-icon:hover {
  background-color: #eee;
}

/****************************************************************************/

.header-container {
  margin: 3%;
  margin-top: 20vh;
  margin-bottom: 3%;
  position: relative;
  min-width: 335px;
}

.header-image img {
  height: auto;
  width: 100%;
  margin-bottom: 0%;
}

.text-container {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 24rem;
  height: auto;
}

.header-text {
  margin-top: 0;
  padding: 5%;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
.header-text:hover {
  background-color: rgb(0, 150, 150);
}

.header-text h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 170%;
}
.header-text p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
}

/**************************************************************/
.main-intro {
  min-width: 335px;
}

main h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0%;
  margin-left: 2%;
  font-size: 150%;
}
main h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 150%;
}
main p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 2%;
  font-size: 100%;
}
.courses p {
  margin-left: 0%;
  font-size: 100%;
}
main h6 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 80%;
  font-weight: normal;
  color: grey;
}

main {
  margin: 5% 1% 5% 1%;
}

.courses {
  border: 1px solid rgb(228, 228, 228);
  padding: 1% 3% 3% 3%;
  margin: 0% 1%;
  width: fit-content;
}
.courses-intro p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 0%;
  font-size: 100%;
}

.explore-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
.explore-button:hover {
  background-color: rgb(0, 150, 150);
  border: 1px solid rgb(0, 150, 150);
}

.container {
  display: flex;
  align-items: center;
  position: relative;
}
.all-courses {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 3% 0% 3% 0%;
  width: 100%;
}
.left-button {
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  left: -40px;
  border-radius: 50%;
  z-index: 1;
}
.right-button {
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  right: -40px;
  border-radius: 50%;
  z-index: 1;
}
.left-button-icon {
  width: 0px;
  height: 0px;
  background-color: transparent;
  position: absolute;
  left: -37px;
  z-index: 1;
  border-width: 10px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.right-button-icon {
  width: 0px;
  height: 0px;
  background-color: transparent;
  position: absolute;
  right: -37px;
  z-index: 1;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.one-course {
  width: fit-content;
  height: fit-content;
  margin: 1% 0.5% 1% 0.5%;
  padding: 0% 0% 0% 0%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.course-img {
  border: 1px solid rgb(196, 196, 196);
  width: auto;
  height: auto;
  margin-bottom: 5%;
  position: relative;
}
.course-img:hover {
  cursor: pointer;
}
.course-img img {
  width: 20rem;
  height: 12rem;
}

.course-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.course-details div * {
  margin: 3% 0% 3% 0;
  padding: 0;
}
.course-title:hover {
  cursor: pointer;
}
.course-rating {
  width: 105%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: #b4690e;
}
.stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.star {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #e59819;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #e59819;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}
.star:before {
  border-bottom: 8px solid #e59819;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -4.5px;
  left: -6.5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.star:after {
  position: absolute;
  display: block;
  color: #e59819;
  top: 0.3px;
  left: -10.5px;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #e59819;
  border-left: 10px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

.enroll-count {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: smaller;
  color: #6a6f73;
}

.course-price {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.final-price {
  display: inline-block;
}
.original-price {
  display: inline-block;
  color: grey;
  text-decoration: line-through;
  text-indent: 20%;
}

.categories {
  width: 45rem;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.category-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: grey;
}
.category-item:hover {
  color: black;
  cursor: pointer;
}
.active {
  color: black;
}

/***************************************************************************/
@media screen and (max-width: 800px) {
  .text-container {
    position: static;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, 0%);
    max-width: 100%;
  }

  .main-nav {
    display: none;
  }
  .small-nav {
    display: flex;
  }

  .header-container {
    margin-top: 12vh;
  }

  .all-courses {
    flex-direction: column;
  }

  .categories {
    flex-direction: column;
    justify-content: flex-start;
    width: 96%;
  }
  .category-item {
    margin-bottom: 0.5rem;
  }
}
